/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../public/fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/poppins-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: url('../public/fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/poppins-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/poppins-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/poppins-v20-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../public/fonts/poppins-v20-latin-600.eot'); /* IE9 Compat Modes */
  src: url('../public/fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/poppins-v20-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/poppins-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/poppins-v20-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/poppins-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: url('../public/fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/poppins-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/poppins-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/poppins-v20-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../public/fonts/poppins-v20-latin-800.eot'); /* IE9 Compat Modes */
  src: url('../public/fonts/poppins-v20-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/poppins-v20-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/poppins-v20-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/poppins-v20-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/poppins-v20-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../public/fonts/poppins-v20-latin-900.eot'); /* IE9 Compat Modes */
  src: url('../public/fonts/poppins-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../public/fonts/poppins-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/fonts/poppins-v20-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../public/fonts/poppins-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../public/fonts/poppins-v20-latin-900.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* =================== Default CSS ================= */
body
{
  font-family: 'Poppins';
  font-size: 1.4rem;
  line-height: 1.6;
  color: #666;
  background: #fff;
  font-weight: normal;
} 
.container-fluid{
 
    padding-left: 42px!important;
    padding-right: 42px!important;
    margin-left: auto!important;
    margin-right: auto!important;
}
ul
{
  list-style-type: none;
}
a
{
  text-decoration: none!important;
}

/* ====================== Header CSS ================ */
.header
{
  background: #f5f6f8;
    font-size: 1.1rem;
    letter-spacing: -0.027em;
    text-transform: capitalize;
}
.header_left p
{
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.5;
  white-space: nowrap;
  padding: 14px 0;
  text-transform: uppercase;
}
.drowp1, .drowp2
{
  line-height: 1.1;
  padding: 11px 0;
 
}
.form-select
{
  font-size: 11px!important;            
  font-weight: 400!important; 
  border: none!important;
  background-color: transparent!important;
  background-size: 10px 8px!important;
  background-position: right 1.2rem center!important;
}
.vr {
  max-height: 17px!important;
  margin-top: 17px!important;
}
.manu a
{
  font-size: 12px;
  font-weight: 400!important; 
  line-height: 1.1;
  color: #333333!important;
  margin: 10px 0;
}
.manu li
{
  padding: 9px 1rem 0!important; 
}
.user_icon
{
  font-size: 18px!important;
}

/* ================================== Middle Header ===================== */
.header-middle
{
  padding-top: 15px;
  padding-bottom: 15px;
  color: #333;
  background: #fff;
  font-size: 1.2rem;
  border-bottom: 1px solid #eee;
}
.header-search 
{
  border-radius: 0.3rem ;
  border: 2px solid #336699;
  margin: 0 50px 0 60px;
}
.select-box
{
  display: block;
  position: relative;
  z-index: 3;
}
.select-box::after
{
  content: "";
  height: 35px;
  width: 1px;
  background: #e5e5e5;
  position: absolute;
  right: -5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.select-box select
{
  /* position: relative; */
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border: 0;
  font-weight: 400;
  z-index: -1;
  font-size: 14px;
  color:#666;
  overflow:hidden;
  margin-left: 7px;
  margin-top: 2px;
}
.form-control
{
  display: block;
    width:400px!important;
    padding: 0.85rem 2rem;
    border: none!important;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
    color: #999;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
}
.btn-search
{
  margin: 0;
    padding: 0;
    color: #333;
    border:none;
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: -0.025em;
    text-transform: none;
}

.search_icon
{
  font-size: 25px;
}
h4
{
  color: #999 !important;
  font-size: 0.9rem !important;
  line-height: 1.2;
  font-weight:400;
}
.chat a
{
  color: #333;
  text-transform: capitalize !important;
  font-size: 0.9rem !important;
  font-weight:400;

}
.phone-number
{
  font-size: 1.1rem;
  line-height: 1;
  font-weight: 700 !important;
  color: black;
}
.icon_call,.nav_icon
{
  font-size: 2.2rem;
  margin-right: 7px;
  color: #333;
}
.header-call
{
  position: relative;
}
.header-call::after
{
  position: absolute;
    content: "";
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -1rem;
    width: 1px;
    height: 4.1rem;
    background-color: #e5e5e5;
}
.wishlist
{
  padding-left: 30px;
}
.label-down span
{
  /* margin-top: 0.3rem; */
    letter-spacing: -0.03em;
    line-height: 1;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: #666;
    padding-left: 5px;
}
.cartn
{
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  font-style: normal;
  z-index: 1;
  right: -2px;
  top: -5px;
  font-size: 0.8rem;
  font-weight: 400;
  /* line-height: 1.8rem; */
  background: #336699;
  color: #fff!important;
  text-align: center!important;
  padding-top: 3px;
  padding-left: -2px;
}
.link1
{
  position: relative;
}
/* ================================== Bottom Header ===================== */
.header-bottom
{
  color: #333;
    background: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: -0.025em;
    border-bottom: 1px solid #f4f4f4;
}
.bar_icon
{
  font-size: 25px;
  padding-right: 8px;
}
/* .navbottom_left
{
  
} */
.nav_btn
{
  /* border-color: #f4f4f4!important; */
  border: 1px solid #f4f4f4;
  border-top: none;
  border-bottom: none;
  /* top: calc(100% - 20px); */
  background-color: transparent!important;
  color: #333 !important;
  border-radius: 0;
  font-size: 14px;
  font-weight: 600;
 text-transform: uppercase;
 padding: 15px 40px;
}

/* ============ menu ========== */
.menu > li
{
  margin-right: 3rem;
}
.menu > li > a
{
  position: relative;
  padding: 1.8rem 0 1.7rem 0;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.009em;
  line-height: 15px;
  text-transform: capitalize;
  color: #333333;
  
}
.nav_down_icon
{
  font-size: 18px;
  padding-left: 2px;
}
.nav_right a
{
  font-weight: 600;
  font-size: 15px;
  color: #333333;

}
.right_icon
{
  font-size: 30px;
  padding-left: 5px;
}
.nav_right .navfirst
{
    margin-right: 2rem;
}
.bar_icon1
{
  padding-right: 10px;
  font-size: 40px;
}
.nav_btn1
{
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}
/* ==================================== Offcanvase CSS ===================== */
.btn-close
{
  display: none;
  /* color: white!important;
  z-index: 2000; */
}
.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px!important;
  width: 100%!important;
}
.offcanvas
{
   max-width: 296px!important;
   padding: 2rem 1rem;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #222!important;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(-296px);
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
} 
.btn-off:hover
{
  background-color: blue!important;
  color: white!important;
}
.input-wrapper
{
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
}
.form-control1
{
  /* min-height: 4rem; */
    padding:9px 20px 8px 10px!important;
    color: #777;
    border: 1px solid;
    border-color: #333;
    border-right: 0;
    background-color: transparent!important;
    font-size:14px;
    border-radius: 0.3rem 0 0 0.3rem!important;
    /* width: 100%!important; */
    width: 215px!important;
}
input[type="text"]:focus {
  outline: none!important;
}
.icon_color
{
  color: white!important;
  font-size: 20px;
}
.btn-search1
{
  padding: 0;
  /* min-width: 4.8rem; */
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  align-self: stretch;
  border: 1px solid #333!important;
  border-left: 0!important;
  border-radius: 0 0.3rem 0.3rem 0!important;
}
.nav-item .nav
{
  border: none!important;
  flex-wrap: nowrap;
}
.nav .nav-item
{
  width: 50%;
}

.menu_off li
{
    margin-bottom:15px ;
    border: none;
}
.menu_off li button
{
  display: block;
  position: relative;
  padding: 0.3rem 0.6rem 1rem 1rem;
  color:#eeeeee!important;
  transition: color 0.3s;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  border: none!important;
  background-color: transparent!important;
}
.menu_off > li:not(:last-child) {
  border-bottom: 1px solid #8c99a8;
}
.nav-item .nav-link {
  color: #336699;
  border-color: #336699;
}
.nav-item .nav-link {
  margin-bottom: -2px;
  padding: 1rem;
  font-size: 1.1rem;
  color: #fff!important;
  border: none!important;
   border-bottom: 2px solid; 
  background-color: transparent!important;
}
.nav-item .nav-link.active, .nav-item .nav-link:hover {
  margin-bottom: -2px;
  padding: 1rem;
  font-size: 1.1rem;
  border-bottom: 2px solid; 
  color: #336699!important;
  border-color: #336699!important;
  background-color:transparent!important;
}
.cat_a
{
  color: #fff!important;
}
/* ==================================== Slider ================================== */
.carousel
{
  height: 500px!important;
  background-color: #222!important;
}
.carousel-caption
{
  position: absolute;
  top:80px;
  left: 40px !important;;
  width: 600px;
  height: 300px;
  justify-content: center;
  align-items: center;
  padding-top: 120px!important;
 
  
}
.carousel-caption h2
{
  font-size: 40px;
}
.carousel-caption .banner-subtitle
{
  font-size: 25px!important;
}
.carousel-item
{
  width: 100%;
  height: 500px;
  position: relative;
}
.slider_img
{
      height: 100%!important;
}

/* ==================================== Product Page CSS ============================ */
.main_area
{
  padding: 50px 0!important;
}
.title
{
  align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #333;
}

.btn-outline-secondary
{
    font-size: 0.8rem!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
}
.card
{
  margin-right: 15px;
  margin-bottom: 20px;
  padding: 0!important;
}
.card-img-top
{
  height: 300px!important;
  object-fit: cover!important;
  border-bottom: 1px solid rgb(112, 112, 112) ;
}
.card-title
{
  font-size: 15px!important;
  line-height: 16px;
  font-weight: 500;
  color:#333 ;
  text-align: center;
}
.rate
{
  font-weight: bolder!important;
  font-size: 20px!important;
  padding-top: 10px;
}
/* ===================== Single Product CSS ======================= */
.Img_area
{
  height: 550px!important;
  border: 1px solid red;
  /* overflow: hidden; */
  transition: transform .2s;
}
.Img_area img
{
  width: 100%!important;
  height: 100%!important;
  object-fit: cover;
}
.pro_title h3,.price h3
{
  margin-bottom: 0.9rem;
    font-size: 2rem!important;
    font-weight: 600;
    letter-spacing: -0.025em;
    line-height: 1.6;
    color: #333;
}
.product-divider
{
  border-top: 1px solid #949292;
  margin: 1.4rem 0 1.4rem;
  width: 75%!important;
}
.disc p
{
font-size: 16px!important;
color: #666;
font-weight: 400;
line-height: 26px;
}
.smallImg_area
{
  height: 130px!important;
  width: 130px!important;
  border-radius: 5px;
  border: 1px solid red;
}
.img_small
{
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer!important;
  width: 100%!important;
  object-fit: cover;
}
.loader {
  border: 5px solid #fff; /* Light grey */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: -50%;
  right: -50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}











/* =================== Media Query =============== */ 
@media screen and (max-width:1300px)
{
  .form-control
{
    width:230px!important;
}
.main-nav
{
  display: none;
}
}
@media screen and (max-width:1250px)
{
  .form-control
{
    width:240px!important;
}
.main-nav
{
  display: none;
}
.menu > li
{
  margin-right: 2rem;
}
}

@media screen and (max-width:1100px)
{
  .form-control
{
  width:240px!important;
}
.icon_call,.nav_icon
{
  font-size: 1.8rem;
  margin-right: 7px;
  color: #333;
}
.wishlist
{
  padding-left: 10px;
}
.header-call::after
{
 display: none;
}
}

@media screen and (max-width:992px) 
{
  .header-search 
  {
    border-radius: 0.3rem ;
    border: 2px solid #336699;
    margin: 0 20px 0 30px;
  }
  .form-control
  {
    width:180px!important;
  }
}
@media screen and (max-width:766px) 
{
  .form-control
  {
     display: none;
  }
}
@media screen and (max-width:574px) 
{
  .wish
  {
    display: none;
  }
}